<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header class="mb-auto">
    <div>
        <nav class="nav nav-masthead justify-content-center float-md-end">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
            <a class="nav-link" href="#">All surveys</a>
            <a class="nav-link" href="#">Create survey</a>
            <a class="nav-link" href="#">Edit survey</a>
            <a class="nav-link" href="#">Delete survey</a>
            <a class="nav-link" href="#">Contact</a>
        </nav>
    </div>
</header>
</body>
</html>